doctype true
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    title
    style#media-query(type='text/css').
      body {
      margin: 0;
      padding: 0; }
      table, tr, td {
      vertical-align: top;
      border-collapse: collapse; }
      .ie-browser table, .mso-container table {
      table-layout: fixed; }
      * {
      line-height: inherit; }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important; }
      [owa] .img-container div, [owa] .img-container button {
      display: block !important; }
      [owa] .fullwidth button {
      width: 100% !important; }
      [owa] .block-grid .col {
      display: table-cell;
      float: none !important;
      vertical-align: top; }
      .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
      width: 600px !important; }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%; }
      .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
      width: 200px !important; }
      .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
      width: 400px !important; }
      .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
      width: 300px !important; }
      .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
      width: 200px !important; }
      .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
      width: 150px !important; }
      .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
      width: 120px !important; }
      .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
      width: 100px !important; }
      .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
      width: 85px !important; }
      .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
      width: 75px !important; }
      .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
      width: 66px !important; }
      .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
      width: 60px !important; }
      .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
      width: 54px !important; }
      .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
      width: 50px !important; }
      @media only screen and (min-width: 620px) {
      .block-grid {
      width: 600px !important; }
      .block-grid .col {
      vertical-align: top; }
      .block-grid .col.num12 {
      width: 600px !important; }
      .block-grid.mixed-two-up .col.num4 {
      width: 200px !important; }
      .block-grid.mixed-two-up .col.num8 {
      width: 400px !important; }
      .block-grid.two-up .col {
      width: 300px !important; }
      .block-grid.three-up .col {
      width: 200px !important; }
      .block-grid.four-up .col {
      width: 150px !important; }
      .block-grid.five-up .col {
      width: 120px !important; }
      .block-grid.six-up .col {
      width: 100px !important; }
      .block-grid.seven-up .col {
      width: 85px !important; }
      .block-grid.eight-up .col {
      width: 75px !important; }
      .block-grid.nine-up .col {
      width: 66px !important; }
      .block-grid.ten-up .col {
      width: 60px !important; }
      .block-grid.eleven-up .col {
      width: 54px !important; }
      .block-grid.twelve-up .col {
      width: 50px !important; } }
      @media (max-width: 620px) {
      .block-grid, .col {
      min-width: 320px !important;
      max-width: 100% !important;
      display: block !important; }
      .block-grid {
      width: calc(100% - 40px) !important; }
      .col {
      width: 100% !important; }
      .col > div {
      margin: 0 auto; }
      img.fullwidth, img.fullwidthOnMobile {
      max-width: 100% !important; }
      .no-stack .col {
      min-width: 0 !important;
      display: table-cell !important; }
      .no-stack.two-up .col {
      width: 50% !important; }
      .no-stack.mixed-two-up .col.num4 {
      width: 33% !important; }
      .no-stack.mixed-two-up .col.num8 {
      width: 66% !important; }
      .no-stack.three-up .col.num4 {
      width: 33% !important; }
      .no-stack.four-up .col.num3 {
      width: 25% !important; }
      .mobile_hide {
      min-height: 0px;
      max-height: 0px;
      max-width: 0px;
      display: none;
      overflow: hidden;
      font-size: 0px; }
      .mobile-center {
      text-align: center!important;
      float: unset!important;
      margin: auto!important;
      }
      .mobile-center:nth-child(odd) {
      margin-top: 5px!important;
      }   }
  body.clean-body(style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #F5F5F5')
    style#media-query-bodytag(type='text/css').
      @media (max-width: 520px) {
      .block-grid {
      min-width: 320px!important;
      max-width: 100%!important;
      width: 100%!important;
      display: block!important;
      }
      .col {
      min-width: 320px!important;
      max-width: 100%!important;
      width: 100%!important;
      display: block!important;
      }
      .col > div {
      margin: 0 auto;
      }
      img.fullwidth {
      max-width: 100%!important;
      }
      img.fullwidthOnMobile {
      max-width: 100%!important;
      }
      .no-stack .col {
      min-width: 0!important;
      display: table-cell!important;
      }
      .no-stack.two-up .col {
      width: 50%!important;
      }
      .no-stack.mixed-two-up .col.num4 {
      width: 33%!important;
      }
      .no-stack.mixed-two-up .col.num8 {
      width: 66%!important;
      }
      .no-stack.three-up .col.num4 {
      width: 33%!important;
      }
      .no-stack.four-up .col.num3 {
      width: 25%!important;
      }
      .mobile_hide {
      min-height: 0px!important;
      max-height: 0px!important;
      max-width: 0px!important;
      display: none!important;
      overflow: hidden!important;
      font-size: 0px!important;
      }
      }
    //if IE
      .ie-browser
    //if mso
      .mso-container
    table.nl-container(style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #F5F5F5;width: 100%', cellpadding='0', cellspacing='0')
      tbody
        tr(style='vertical-align: top')
          td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
            //if (mso)|(IE)
              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tbody
                  tr
                    td(align='center', style='background-color: #F5F5F5;')
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #EDEDED;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#EDEDED;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#EDEDED;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;')
                          div(style="color:#8B8B8B;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;")
                            div(style="font-size:12px;line-height:14px;color:#8B8B8B;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(style='margin: 0;font-size: 14px;line-height: 17px')
                                span(style='font-size: 11px; line-height: 13px;') Данное письмо сгенерировано автоматически. Пожалуйста, не отвечайте на него.
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              div( class="block-grid two-up" style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #232e3a;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#232e3a;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#232e3a;')
                  //if (mso)|(IE)
                  div(class="col num6" style='max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div(class="img-container left fixedwidth" align='left', style='padding-right: 0px;  padding-left: 10px; padding-top: 5px;')
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr(style='line-height:0px;line-height:0px;')
                                  td(style='padding-right: 0px; padding-left: 10px;', align='left')
                          div(style='line-height:5px;font-size:1px')  
                          a(href='https://mathlab.kz/', target='_blank')
                            img(class="left fixedwidth mobile-center" align='left', border='0', src='https://mathlab.kz/images/mail-header-logo.png', alt='Image', title='Image', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 125px', width='125')
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                  div(class="col num6" style='max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 10px;')
                          div(style="color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 10px;")
                            div( class="mobile-center" style="font-size:12px;line-height:14px;color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(class="mobile-center" style='margin: 0;font-size: 14px;line-height: 17px;text-align: right')
                                span(style='color: rgb(255, 255, 255); font-size: 14px; line-height: 16px;') +7 (707) 308-53-33
                                br
                                span(style='color: rgb(255, 255, 255); font-size: 14px; line-height: 16px;') +7 (777) 794-45-05
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top: 15px; padding-bottom: 5px;')
                          div(style="color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 10px; padding-left: 10px; padding-top: 15px; padding-bottom: 5px;")
                            div(style="font-size:12px;line-height:18px;color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(style='margin: 0;font-size: 14px;line-height: 21px') Здравствуйте, #{fullname}!
                              p(style='margin: 0;font-size: 14px;line-height: 21px') У Вас есть непрочитанное сообщение на портале.
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                          tbody
                            tr(style='vertical-align: top')
                              td.divider_inner(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                table.divider_content(height='0px', align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #F0F0F0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                        span  
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 5px;')
                          div(style="color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 5px;")
                            div(style="font-size:12px;line-height:14px;color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(style='margin: 0;font-size: 14px;line-height: 17px')
                                span(style='font-size: 16px; line-height: 19px;')
                                  | Сообщение от 
                                  strong #{sender}
                                  | :
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;')
                          div(style="color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;")
                            div(style="line-height:18px;font-size:12px;color:#555555;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(style='margin: 0;line-height: 18px;font-size: 12px')
                                span(style='font-size: 15px; line-height: 22px;')
                                  em
                                    | #{message}
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        table.divider(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                          tbody
                            tr(style='vertical-align: top')
                              td.divider_inner(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                table.divider_content(height='0px', align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #F0F0F0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                        span  
                        // [if (!mso)&(!IE)] <!
                        // <![endif]
                        //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#FFFFFF;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        .button-container.center(align='center', style='padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:20px;')
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0', style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                              tbody
                                tr
                                  td(style='padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:20px;', align='center')
                                    v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='', style='height:31pt; v-text-anchor:middle; width:139pt;', arcsize='10%', strokecolor='#3AAEE0', fillcolor='#3AAEE0')
                                      w:anchorlock
                                        v:textbox(inset='0,0,0,0')
                                          center(style="color:#ffffff; font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;")
                          div(href="#{link}" style="color: #ffffff; background-color: #3AAEE0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 186px; width: 146px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 15px; padding-right: 20px; padding-bottom: 15px; padding-left: 20px; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none; text-decoration: none;")
                            span(style="font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;") Перейти на портал
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #EDEDED;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#EDEDED;')
                  //if (mso)|(IE)
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(style='background-color:transparent;', align='center')
                            table(cellpadding='0', cellspacing='0', border='0', style='width: 600px;')
                              tbody
                                tr.layout-full-width(style='background-color:#EDEDED;')
                  //if (mso)|(IE)
                  .col.num12(style='min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: transparent; width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                        // <![endif]
                        div
                          //if mso
                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;')
                          div(style="color:#8E8E8E;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;")
                            div(style="font-size:12px;line-height:14px;color:#8E8E8E;font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                              p(style='margin: 0;font-size: 14px;line-height: 17px;text-align: center')
                                span(style='font-size: 11px; line-height: 13px;')
                                  em
                                    | Mathlab.kz - для знаний 
                                    span(style='line-height: 13px; font-size: 11px;') нет
                                    |  преград!
                          //if mso
                          // [if (!mso)&(!IE)] <!
                          // <![endif]
                          //if (mso)|(IE)
                          //if (mso)|(IE)
                          //if (mso)|(IE)
