- var id = _id
div( class="messages-loader" )
	div( id="loader-md" )
		div( id="loader-md_1" class="loader-md" )
		div( id="loader-md_2" class="loader-md" )
		div( id="loader-md_3" class="loader-md" )
for item in messages
	-var unread
	if item.read_state 
		-unread = ''
	else 
		-unread = 'unread'
	div( class="message #{unread}" id="#{item._id}" )
		div( class="message-img" )
			if (_id.toString() == (item._sender_id).toString()) 
				div( class="center-cropped img-40" style="background-image: url('#{courseInfo.teacherAvatarUrl}');" )
			else
				div( class="center-cropped img-40" style="background-image: url('#{courseInfo.studentAvatarUrl}');" )
		div( class="message-body" )
			if (_id.toString() == (item._sender_id).toString())
				h5 #{courseInfo.teacher}
			else
				h5 #{courseInfo.student}
			if (item.attachment)
				for file in item.attachment
					div( class="message-attachment" )
						div( class="message-attachment-img" )
							a( href="#{file.url}" class="btn btn-primary" role="button" download )
								i( class="fa fa-paperclip" aria-hidden="true" )
						div( class="message-attachment-body" )
							h5 #{file.originalName}
							h6 #{file.size} КБ
			ul
				li #{item.message}
		div( class="message-date" )
			span #{moment(item.date).format("DD.MM.YY, HH:mm")}