div( class="messages-loader" )
	div( id="loader-md" )
		div( id="loader-md_1" class="loader-md" )
		div( id="loader-md_2" class="loader-md" )
		div( id="loader-md_3" class="loader-md" )
for item in messages
	div( class="message" id="item._id" )
		div( class="message-img" )
			if (_id == item._sender_id) 
				div( class="center-cropped img-40" style="background-image: url(#{courseInfo.teacherAvatarUrl});" )
			else
				div( class="center-cropped img-40" style="background-image: url(#{courseInfo.teacherAvatarUrl});" )
		div( class="message-body" )
			h5 #{item.sender}
			ul
				li #{item.message}
		div( class="message-date" )
			span #{moment(item.date).format("DD.MM.YY, HH:mm")}