doctype html
html( lang='ru' )
	head

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="" )
		meta( name="author" content="Quve Development" )

		title Личный кабинет

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/animate.css" rel="stylesheet" )
		link( href="/css/default.css" rel="stylesheet" )

		//Scripts
		script( src="/js/jquery.min.js" )
		script( src="/js/moment.min.js" )
		script( src="/socket.io/socket.io.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->

	body

		if (!email || !grade || !phone)
			//SIGN-UP MODAL WINDOW
			include ./includes/sign-up-modal

		// NAVBAR
		include ./includes/header

		if (!confirmed)
			include ./includes/email-confirm-alert

		// CONTENT
		div( class="container" )
			div( class="row" )
				div( class="col-md-4" )
					div( class="base" )
						header
							h4 Личные данные
						div( class="profile" )
							div( class="profile-img text-center" )
								div( class="center-cropped img-130" id="profile-img" style="background-image: url('#{avatarUrl}');" )
							div( class="profile-info text-center" )
								h4( id="fullname" ) #{fullname}
								h6( id="priority" ) Ученик
							div( class="profile-contacts" )
								if (email)
									h6( class="sub" ) E-mail:
									h6( id="email" ) #{email}
								if (phone)
									h6( class="sub" ) Телефон:
									h6( id="phone" ) #{phone}
								if (grade)
									h6( class="sub" ) Класс учебы:
									h6( id="grad" ) #{grade}
							a( href="/settings" class="btn btn-default btn-block" ) Редактировать
					if (grade < 5)
						div( class="base" )
							header
								h4 Вам доступны материалы для скачивания &nbsp;
									i( class="fa fa-cloud-download green" aria-hidden="true" )
							div( class="material" )
								i( class="fa fa-file-text" aria-hidden="true") &nbsp; &nbsp;
								| О.Н. Пупышева "Задания школьных олимпиад" (
								a( href="/materials/O.N.Pupysheva_Zadaniya_shkolnyh_olimpiad.doc" download ) скачать
								|)
							div( class="material" )
								i( class="fa fa-file-text" aria-hidden="true") &nbsp; &nbsp;
								| Сборник заданий по математике для поступающих в 5 класс (
								a( href="/materials/Sbornik_zadaniy_po_matematike_dlya_postupayushchih_v_5_klass.docx" download ) скачать
								|)

				div( class="col-md-8" )
					div( class="base" )
						header
							h4 Ваши курсы
						div( class="profile-content" )
							div( class="courses" )
								if (courses.length > 0)
									div( class="table-responsive" )
										table( class="table" )
											tbody
												for item in courses
													tr
														td( id="#{item.id}" )
															div( class="course" onClick="window.location.href='/course/#{item.id}'")
																div( class="course-header" )
																	div( class="course-info-img" )
																		case item.subject
																			when 'Математика'
																				img( src="/images/subject-math.png" )
																			when 'Информатика'
																				img( src="/images/subject-inform.png" )
																			when 'Физика'
																				img( src="/images/subject-physic.png" )
																			default
																				img( src="/images/subject-math.png" )
																	div( class="course-info-titles" )
																		h5 #[span( class="course-desc" ) Преподаватель:] #{item.teacher}
																		h5 #[span( class="course-desc" ) Предмет обучения:] #{item.subject}
																		h5 #[span( class="course-desc" ) Сроки обучения:]  #{moment(item.startingDate).format('DD.MM.YYYY')} - #{moment(item.endingDate).format('DD.MM.YYYY')}
																		if (moment(item.endingDate).format() > moment(currentDate).format())
																			h5 #[span( class="course-desc" ) Статус:] #[span( class="text-success" ) Активен ]
																		else 
																			h5 #[span( class="course-desc" ) Статус:] #[span( class="text-danger" ) Закончен ]
																div( class="course-entrance" )
																	a( href="/course/#{item.id}" )
								else
									div( class="no-courses text-center" )
										img( src="/images/blackboard.png" )
										h4 У Вас пока нет активных курсов
										p Подайте заявку на обучение и начинайте заниматься.
										a( href="/request" class="btn btn-default" ) Подать заявку


		// FOOTER
		include ./includes/footer

		script( src="/js/bootstrap.min.js" )
		script( src="/js/sign-up-modal.js" )
		script( src="/js/validator.js" )
		script( src="/js/main.js" )
		script( src="/js/formhelpers.min.js" )


