doctype html
html( lang='ru' )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="Каждую неделю мы выкладываем акутальные новости, которые происходят внутри и снаружи нашего портала" )
		meta( name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование" )
		meta( name="author" content="Quve Development" )

		title Последние новости портала MathLab.kz

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/animate.css" rel="stylesheet" )
		link( href="/css/default.css" rel="stylesheet" )

		//Scripts
		script( src="/js/jquery.min.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->
	body( class="landing" )

		// NAVBAR
		nav( class="navbar navbar-inverse navbar-fixed-top no-margin" )
			div( class="container-fluid" )
				div( class="navbar-header" )
					button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" )
						span( class="sr-only" ) Меню
						span( class="icon-bar" )
						span( class="icon-bar" )
						span( class="icon-bar" )
					a( class="navbar-brand" href="/" )
						img( src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" itemprop="logo" )
						span MathLab.kz
				div( class="collapse navbar-collapse" id="navbar-collapse" )
					ul( class="nav navbar-nav" )
						li
							a( href="/" ) Главная
						li
							a( href="/prices" ) Расценки и способы оплаты
						
					ul( class="nav navbar-nav navbar-right" )
						li
							a( href="/sign-in" )
								i( class="fa fa-lock" aria-hidden="true" ) 
								| &nbsp;Вход и регистрация

		// CONTENT
		div( class="container main-content" )
			ol( class="breadcrumb" )
				li
					a( href="/" ) Главная
				li( class="active" ) Новости
			div( class="page-header" )
				h1 Последние новости портала MathLab.kz	
		div( class="container" )
			div( class="row" )
				for item in news
					div( class="col-sm-4" )
						div( class="news-card" onClick="window.location.href='news/#{item.title}'")
							div( class="news-card-img" style="background-image: url('#{item.photoUrl}')")
							div( class="news-card-body" )
								h6 #{moment(item.date).locale('ru').calendar()}
								h2 #{item.cyrillicTitle}
								p #{item.description}
							div( class="news-card-footer" )
								div( class="news-card-footer-author" )
									img( src="/images/editor-img.png" )
									span Ольга Сладких
								div( class="news-card-button")
									a( class="btn btn-succes btn-block" href="news/#{item.title}") Перейти к новости 
										i( class="fa fa-angle-right" aria-hidden="true")

		// FOOTER
		include ./includes/footer-main

		script( src="/js/bootstrap.min.js" defer )
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-71816939-6', 'auto');
			ga('send', 'pageview');
		span( itemprop="address" style="display: none;" ) Казахстан, Алматы
		


