doctype html
html( lang='ru' )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" )
		meta( name="description" content="MathLab - это интерактивный обучающий портал, на который предоставляет качественные online курсы по таким предметам как математика, физика и информатика" )
		meta( name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование" )
		meta( name="author" content="Quve Development" )
		meta( property="og:title" content="Портал дистанционного обучения - MathLab.kz" )
		meta( property="og:type" content="website" )
		meta( property="og:url" content="http://mathlab.kz" )
		meta( property="og:image" content="http://mathlab.kz/images/social-img.png" )
		meta( property="og:description" content="MathLab - это интерактивный обучающий портал, который предоставляет качественные online курсы по таким предметам как математика, физика и информатика" )
		meta( name="google-site-verification" content="LOLYKmx0SperUpZjeUrgyalKYImdCU1mCCUm6ypmVwI" )
		meta( name="yandex-verification" content="062aa62a8a3705e9" )

		title Портал  дистанционного и полудистанционного образования - MathLab.kz

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/owl.carousel.min.css" rel="stylesheet" )
		link( href="/css/owl.theme.default.min.css" rel="stylesheet" )
		link( href="/css/default.css" rel="stylesheet" )
		link( href="/css/animate.css" rel="stylesheet" )

		// METRICS
		include ../common/metrics

		//Scripts
		script( src="/js/jquery.min.js" defer )
		script( src="/js/viewportchecker.js" defer )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->
	body( class="landing" itemscope itemtype="http://schema.org/EducationalOrganization" )

		// NAVBAR
		nav( class="navbar navbar-inverse navbar-fixed-top no-margin" )
			div( class="container-fluid" )
				div( class="navbar-header" )
					button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" )
						span( class="sr-only" ) Меню
						span( class="icon-bar" )
						span( class="icon-bar" )
						span( class="icon-bar" )
					a( class="navbar-brand" href="/" )
						img( src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" itemprop="logo" )
						span(itemprop="brand") MathLab.kz
				div( class="collapse navbar-collapse" id="navbar-collapse" )
					ul( class="nav navbar-nav" )
						li
							a( href="/how-to-use" target="_blank" ) Как проходит обучение
						li
							a( href="/prices" target="_blank" ) Расценки и способы оплаты
						li
							a( href="/news" target="_blank" ) Новости
					ul( class="nav navbar-nav navbar-right" )
						li
							a( href="/sign-in" )
								i( class="fa fa-lock" aria-hidden="true" ) 
								| &nbsp; Вход и регистрация

		// CONTENT
		header( class="landing-head" id="main" )
			div( class="container-fluid" )
				div( class="row landing-mac" )
					div( class="col-md-6 text-left offset-left-50" )
						div( class="owl-carousel owl-carousel-header owl-theme")
							div( class="item" )
								h1 Портал дистанционного и полудистанционного образования
								p MathLab - это сервис, который специализируется на предоставлении онлайн курсов, при которых для обучающегося подбирается нужный преподаватель, а также составляется индивидуальная программа занятий. Причем репетитор возьмет плату только за свою работу, без учета аренды помещения и транспортных расходов.
								a( href="/sign-up" class="btn btn-warning btn-lg" role="button" data-event-name="Slider button sign-up clicked" onClick="sendEvent(this)" ) Регистрация
							div( class="item" )
								h2 Почему именно дистанционное образование?
								p Обучаясь в нашем онлайн центре, ребенок не будет привязан к определенному времени встречи с учителем, а Вы, выбирая репетитора для своего ребенка, не будете ограничены географическим положением педагога – и это несомненное преимуществом онлайн обучения.
								a( href="#" data-toggle="modal" data-target="#callbackModal" class="btn btn-warning btn-lg hidden-xs hidden-sm" role="button" data-event-name="Slider button callback clicked" onClick="sendEvent(this)") Заказать консультационный звонок
							div( class="item" )
								h2 Что такое полудистанционное образование?
								p Для алматинских школьников мы предлагаем смешанную форму обучения «Blended learning». Она опробована нашими учениками и получила хорошие отзывы.
								p Ученик выбирает удобный для него вариант:  например, один раз в неделю встречается с преподавателем очно и два раза в неделю высылает уроки дистанционно. Варианты очных и дистанционных занятий варьируются. Подробнее читайте в наших новостях.
								a( href="/news" class="btn btn-warning btn-lg" role="button" data-event-name="Slider button news clicked" onClick="sendEvent(this)" ) Новости
					div( class="col-md-6 text-center" )
			div( class="presentation-block hidden-xs hidden-sm" )

		section
			div( class="container" )
				div( class="row" )
					div( class="col-sm-6" )
						h2( class="article-title" ) Различные образовательные программы
						p( class="article-p" ) Мы поможем в освоении таких важных школьных дисциплин как математика, физика, информатика, программирование, химия, биология, а так же многих других - ребятам, обучающимся по стандартной школьной программе. Подберем для ребенка квалифицированного преподавателя, который составит индивидуальный план обучения и начнет работу с ним.
						a( href="/sign-up" class="btn btn-success" role="button" data-event-name="Body button sign-up clicked" onClick="sendEvent(this)" ) Регистрация
					div( class="col-sm-6" )
						img( src="/images/article-img-new-1.svg" class="img-responsive" alt="Различные образовательные программы" title="Различные образовательные программы")

		section
			div( class="container" )
				div( class="row" )
					div( class="col-sm-6" )
						img( src="/images/article-img-new-2.svg" class="img-responsive" alt="Преподаватели Высшей категории" title="Преподаватели Высшей категории" )
					div( class="col-sm-6" )
						h2( class="article-title" ) Преподаватели Высшей категории
						p( class="article-p" ) Наши учителя имеют многолетний опыт работы в физико-математических школах, внушительное портфолио собственных профессиональных и научных достижений, впечатляющее количество учеников – призеров международных, республиканских и городских олимпиад. 
						button( class="btn btn-primary" data-toggle="modal" data-target="#callbackModal" data-event-name="Body button callback clicked" onClick="sendEvent(this)" ) Заказать консультационный звонок

		section
			div( class="container" )
				div( class="row" )
					div( class="col-sm-6" )
						h2( class="article-title" ) Не нужно никуда ехать
						p( class="article-p" ) Обучаясь в нашем онлайн центре, ваш ребенок не будет привязан к определенному времени встречи с учителем, а Вы, выбирая репетитора для своего ребенка, не будете ограничены географическим положением педагога – и это несомненное преимуществом онлайн обучения. Для комфортного обучения ребенка, досточно иметь точку доступа в интернет в виде персонального компьютера, планшета и даже обычного смартфона.
					div( class="col-sm-6" )
						img( src="/images/article-img-new-3.svg" class="img-responsive" alt="Не нужно никуда ехать" title="Не нужно никуда ехать")

		section
			div( class="container" )
				div( class="row")
					div( class="col-xs-12" )
						h2( class="article-title" ) Скриншоты сервиса
				div( class="row" )
					div( class="col-xs-12")
						div( class="presentation" )
							div( class="block" )
								img(src="/images/presentation-slide-1.png" class="img-responsive" alt="Скриншот личного кабинета" title="Скриншот личного кабинета" )
							div( class="block active" )
								img(src="/images/presentation-slide-2.png" class="img-responsive" alt="Скриншот урока" title="Скриншот урока" )
							div( class="block" )
								img(src="/images/presentation-slide-3.png" class="img-responsive" alt="Скриншот страницы подачи заявки" title="Скриншот страницы подачи заявки" )
				div( class="row")
					div( class="col-sm-2" )
					div( class="col-sm-8" )
						p( class="article-p text-center" ) Мы разработали уникальную систему организации онлайн курсов, которая включает в себя удобный интерфейс, легкий дизайн, а также самое главное - возможность получать знания от лучших репетиторов Казахстана.
					div( class="col-sm-2" )
					
		section
			div( class="container" )
				div( class="row" )
					div( class="col-sm-12" )
						h2( class="article-title" ) Команда преподавателей
				div( class=" owl-carousel owl-carousel-teachers owl-theme")
					for teacher in teachers
						if (teacher.visible)
							div( class="item" )
								div( class="landing-comment landing-teacher" )
									div( class="text-center" )
										if (teacher.photo_url)
											img( src="#{teacher.photo_url}" class="img-circle img-150 inline-block" alt="#{teacher._teacher_id.fullname}" title="#{teacher._teacher_id.subject}" )
										else
											img( src="/images/empty-teacher-img.svg" class="img-circle img-150 inline-block" alt="#{teacher._teacher_id.fullname}" title="#{teacher._teacher_id.subject}" )
										h4= teacher._teacher_id.fullname
										h6= teacher._teacher_id.subject
										blockquote
											p( class="short-description" )= teacher.bio
											h6= ('Стаж работы репетитором:' + ' ' + teacher.experience)
											h6= teacher.geoposition
										- var linkAddress = teacher.transliterated_fullname ? teacher.transliterated_fullname : teacher._teacher_id.id
										a( href="/teacher/#{linkAddress}" class="btn btn-default btn-block" data-event-name="Body button teacher clicked" data-event-properties='{"name": "#{teacher._teacher_id.fullname}"}' onClick="sendEvent(this)" ) Подробнее
                    
		section 
			div( class="container" )
				div( class="row")
					div( class="col-xs-12" )
						h2( class="article-title" ) Новости
				div( class="row" )
					for item in recentNews
						div( class="col-sm-4" )
							div( class="news-card" onClick="window.location.href='news/#{item.title}'")
								div( class="news-card-img" style="background-image: url('#{item.photoUrl}')")
								div( class="news-card-body" )
									h6 #{moment(item.date).locale('ru').calendar()}
									h2 #{item.cyrillicTitle}
									p #{item.description}
								div( class="news-card-footer" )
									div( class="news-card-footer-author" )
										img( src="/images/editor-img.png" alt="Редактор портала MathLab.kz" title="Ольга Сладких")
										span Ольга Сладких
									div( class="news-card-button")
										a( class="btn btn-succes btn-block" href="news/#{item.title}" data-event-name="Body button news clicked" data-event-properties='{"title": "#{item.cyrillicTitle}"}' onClick="sendEvent(this)" ) Перейти к новости 
											i( class="fa fa-angle-right" aria-hidden="true")

					div( class="row" )
						div( class="col-sm-12 text-center" )
							a( class="btn btn-succes" href="/news") Перейти ко всем новостям


		section( class="last" )
			div( class="container" )
				div( class="row" )
					div( class="col-sm-12" )
						h2( class="article-title" ) Отзывы
				div( class="row" )
					div( class="col-md-8" )
						div( class="owl-carousel owl-carousel-comments owl-theme" )
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-6-n.png" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Ирина Костина
											h6 Мама
									blockquote
										p 
											i Хочу выразить огромную благодарность всему коллективу портала Mathlab.kz. Очень грамотно построена работа дистанционного образования и его преподавателей. Сын занимался как очно, так и дистанционно. Брали уроки русского языка и математики. За те несколько месяцев, что сын брал уроки, очень сильно подтянулся по русскому языку. Появилась уверенность в знаниях, появились новые, более углублённые знания русского языка. Огромное спасибо преподавателю Ольге Станиславовне , которая никогда не оставалась равнодушной и всегда подбадривала сына.
												br
												| Отдельную благодарность хочу выразить Галие Мрзановне. Именно под ее чутким руководством сын открыл для себя много новых знаний в логике, научился не просто решать задачи, а именно правильно их понять , подумать и решение само приходило в голову без лишних усилий. 
												
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-5-n.png" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Нариман Джаксыкельдинов
											h6 Отец
									blockquote
										p 
											i Когда ребёнок наших друзей успешно поступил в 165-ый лицей, конечно же, мы сразу поинтересовались, где и как он проходил подготовку? И нам предоставили лучшие рекомендации портала дистанционного образования MathLab.kz. Честно говоря, сначала были небольшие сомнения, потому что ранее наши дети всегда посещали очные занятия в различных центрах, однако, когда начались дистанционные занятия в MathLab.kz, мы высоко оценили эффективность данной методики! Конечно же, нам повезло, что нас готовили такие профессионалы, как Альжанова Галия Мрзановна и Муканова Асемгуль Ашимгазиевна, которые с самого начала нашли подход к ребенку, выявили слабые места в подготовке и планомерно вели подготовку на самом высоком уровне!
											br
											| Результатом таких занятий стало успешное поступление нашей дочери в 165-ый лицей! Выражаем огромную Благодарность всем педагогам, и отдельное Спасибо хотим сказать Сладких Ольге Станиславовне за организационную работу, полезные советы и консультации!
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-5.png" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Нагима Бекмуханбетова
											h6 Мама
									blockquote
										p 
											i Хочу поделиться с вами историей нашей подготовки к поступлению в 5-й класс СЛ №165, уверена, многие сделают для себя правильный выбор.
												br
												| Дистанционное обучение через портал Mathlab.kz мы начали в феврале, а в июне успешно сдали экзамен, набрав равномерное количество баллов по всем предметам для поступления. На портале Mathlab.kz два направления: 
												ol
													li для поступающих в физмат;
													li улучшить успеваемость по предметам.
												| Форма обучения смешанная:
												ol 
													li онлайн;
													li очно;
												| Количество уроков, время - выбор за вами. Проверка домашнего задания разбирается по пунктам с указанием, ошибок и способом решения. В наше время, время фрилансеров, это очень удобно и современно, не выходя из дома, ваш ребёнок повышает свою успеваемость, под контролем высококвалифицированных педагогов, которые постоянно повышают своё мастерство, осваивают новые передовые технологии. Да, что говорить, вы знаете о преподавательском составе 165-ого лицея. Сейчас у вас есть прекрасная возможность, повысить успеваемость школьника, находясь в любой точке мира, на отдыхе, каникулах, в гостях -  для этого достаточно иметь интернет и телефон, чтоб отправить задание на проверку. Пользуясь случаем, хочу поблагодарить Ольгу Станиславовну и Галию Мрзановну за профессионализм и оперативность в период обучения. Желаю вам результативных и успешных учеников!
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-6.png" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Наталья Ван
											h6 Мама
									blockquote
										p 
											i Целью наших занятий была подготовка к вступительным экзаменам в 5 класс СЛ №165. Хочу выразить огромную благодарность коллективу Mathlab.kz.  Считаю, что только благодаря Вам  моему сыну удалось поступить. До этого мы пробовали другие курсы и вокруг я только слышала истории о неудачном поступлении. Честно сказать, я даже не верила, что моему сыну удастся поступить. 
												br
												br
												| Готовиться к экзаменам мы начали довольно поздно (в чем была моя ошибка), лучше не затягивать и начинать готовиться хотя бы за год. Форма обучения у нас была смешанная (4 занятия дистанционные, пятое - очное), что очень удобно, так как это экономит время на дорогу. Материал дается целенаправленно для поступающих, преподносится доходчиво и развернуто. Что еще немаловажно – дружелюбное отношение и моральная поддержка на протяжении всех экзаменов! Мathlab.kz  - Вы лучшие! Рекомендую Вас интересующимся подготовкой к поступлению.  При необходимости дополнительных занятий в дальнейшем,  мы с Вами!
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/profile.svg" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Наталья Калинина
											h6 Мама
									blockquote
										p 
											i Мы обратились на портал Mathlab.kz для подготовки к поступлению в Cпециализированный лицей №165. Очень переживали, но, как оказалось, напрасно. Понравилась организация учебного процесса, сами уроки и как построен материал. Не смотря на сложность материала, преподаватель доступно объяснял, ребенок воспринимал отлично. Сразу же установился личный контакт ребенка с преподавателем.
												br
												br
												| Как результат – ребенок сдал экзамены, прошел тесты и поступил, куда мы планировали. Очень благодарны всем учителям, особенно Галие Мрзановне! Она профессионал, замечательный человек, строгий и в то же время добрый учитель! Порекомендую ли я своим знакомым?... – УЖЕ!!!
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-4.png" class="img-circle img-thumbnail img-70" style="width: 100px;" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Ярослав Плотников
											h6 Отец
									blockquote
										p #[i Так получилось, что моя семья живет в Алматы, а я работаю в Актау. Александр, мой сын, учится в Специализированном лицее №165 в Алматы. Учеба там сложная, напряженная, однако лицей дает глубокие знания, которые позволяют детям поступать в самые лучшие вузы мира. Дети, обычно занимаются и летом, чтобы не забыть программу и немного поработать на опережение – это позволит начать новый учебный год более комфортно. На лето жена с детьми приезжает ко мне, в Актау. Здесь возможностей учиться у репетиторов такого уровня как в Алматы, нет. Поэтому мы воспользовались услугами учителей сайта Mathlab.kz и остались очень довольны. Саша постигал физику с прекрасным педагогом - Василием Васильевичем Соколовым. Мы ездили в Атырау, в Алматы, в Астану, но уроки шли своим чередом благодаря удобной дистанционной форме обучения. Спасибо порталу Mathlab.kz и Василию Васильевичу Соколову. Мы обязательно продолжим сотрудничество с данным обучающим порталом и его учителями.]
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-2.png" class="img-circle img-thumbnail img-70" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Гулистан Нусипжан
											h6 Мама
									blockquote
										p #[i Галия Мрзановна – профессионал своего дела, Учитель с большой буквы и просто наша любимая учительница. Она вела уроки у моих старших детей, а сейчас – у младших. Галия Мрзановна – очень добрый, отзывчивый в меру строгий учитель. Если нужна помощь, то всегда можно к ней обратиться. Она нам помогала в подготовке к поступлению в физмат школу. Огромная благодарность ей как учителю и как человеку. Спасибо Вам, мои дети Вас любят и благодарны за все, что Вы им дали.]
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-3.png" class="img-circle img-thumbnail img-70" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Алия Абдраимова
											h6 Мама
									blockquote
										p #[i Мой сын третий год занимается дополнительно физикой у Василия Васильевича. Мы очень рады, что нам встретился такой замечательный педагог!!! Василий Васильевич моему сыну привил любовь к такой сложной науке, как физика. Он очень опытный, сильный, внимательный, имеющий подход к каждому ребенку преподаватель, знающий свой предмет. Доходчиво объясняет. Благодаря Василию Васильевичу, мой ребенок полюбил физику и после окончания школы мечтает поступить в МФТИ. Побольше бы таких преподавателей! Спасибо Вам, Василий Васильевич, за Ваш высокий профессионализм! ]
							div( class="item" )
								div( class="landing-comment" )
									div( class="landing-comment-body media" )
										div( class="media-left")
											img( src="/images/comment-img-1.png" class="img-circle img-thumbnail img-70" alt="Отзыв" title="Отзыв" )
										div( class="media-body" )
											h4 Майя Ванькова
											h6 Мама
									blockquote
										p #[i Хочу выразить огромную благодарность Анастасии Николаевне за высокий профессиональный подход к моему ребенку – Давиду. За то время, как он начал заниматься уроками математики у Вас, очень заметно улучшение знаний. Понимание предмета в такой сложной науке немаловажно. Любовь моего ребенка к предмету – большая заслуга преподавателя. Огромное Вам спасибо, Анастасия Николаевна, за Ваше внимание, терпение и любовь к детям, где требуется подход к каждому ребенку, который исходит от Вас. Так держать! ]
					div( class="col-md-4" )
						div( class="landing-comment" )
							div( class="landing-comment-body" )
								div( class="text-center" )
									img( src="/images/feedback.svg" alt="Отзыв" title="Отзыв" )
									h4 Спасибо Вам!
									p( style="font-size: 13px; line-height: normal;") От всей команды MathLab.kz хотим выразить благодарность Вам за прекрасные отзывы! Обещаем, что мы не будем останавливаться на достигнутом и продолжим улучшать сервис для Вас!
									p( style="font-size: 13px; line-height: normal;") Будем рады получить еще больше: #[a( href="mailto:mathlab.kz@gmail.com" ) mathlab.kz@gmail.com ]

		// FOOTER
		include ./includes/footer-main

		div( id="presentModal" class="modal fade" role="dialog" )
			div( class="modal-dialog")
				div( class="modal-content" )
					div( class="modal-header" )
						button( type="button" class="close" data-dismiss="modal") &times;
						h4( class="modal-title" ) У нас есть подарок для Вас!
					div( class="modal-body" )
						p Поздравляем Вас с началом нового учебного года и желаем только плодотворных и успешных результатов! А в качестве подарка мы приготовили для Вас календарь от портала MathLab.kz, Вы можете скачать и распечатать его в отличном качестве. Успехов!
						hr
						a( href="/images/calendar-MathLab.pdf" download class="btn btn-success btn-block") Скачать
						hr
						img( src="/images/calendar-MathLab-min.png" alt="Календарь от портала Mathlab.kz" title="Календарь от портала Mathlab.kz")
					div( class="modal-footer" ) 
						button( type="button" class="btn btn-default" data-dismiss="modal" ) Закрыть

		div( id="callbackModal" class="modal fade" role="dialog" )
			div( class="modal-dialog")
				div( class="modal-content" )
					div( class="modal-header" )
						button( type="button" class="close" data-dismiss="modal") &times;
						h4( class="modal-title" ) Обратный звонок
					div( class="modal-body" )
						form( data-toggle="validator" role="form" onSubmit="return false;")
							div( class="form-group" )
								label( for="name" ) Как Вас зовут?
								input( type="text" class="form-control" id="name" name="name" required )
								div( class="help-block with-errors" )
							div( class="form-group" )
								label( for="tel" ) Ваш телефон:
								input( type="tel" class="form-control bfh-phone" id="tel" data-format="+7 (ddd) ddd-dd-dd" required )
								div( class="help-block with-errors" )
							div( class="form-group" )
								button( button type="submit" class="btn btn-primary btn-block btn-md" onClick="sendCallbackBid(this)" ) Отправить
						hr
						p Оставьте заявку на обратный звонок и наш менеджер перезвонит Вам в ближайшее время.

					div( class="modal-footer" ) 
						button( type="button" class="btn btn-default" data-dismiss="modal" ) Закрыть


		script( src="/js/bootstrap.min.js" defer )
		script( src="/js/owl.carousel.js" defer )
		script( src="/js/landing.js" defer data-event-name="Landing page view" onload="sendEvent(this);")
		script( src="/js/formhelpers.min.js" defer)
		script( src="/js/validator.js" defer)
		
		span( itemprop="address" style="display: none;" ) Казахстан, Алматы
