doctype html
html( lang='ru' )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" )
		meta( name="description" content="#{profileInfo.about}" )
		meta( name="keywords" content="#{teacher.fullname}, #{teacher.subject}, репетитор онлайн, репетиторские услуги" )
		meta( name="author" content="Quve Development" )
		meta( property="og:title" content="#{teacher.fullname} - #{teacher.subject} | MathLab.kz" )
		meta( property="og:type" content="website" )
		meta( property="og:url" content="http://mathlab.kz/teacher/#{profileInfo.transliterated_fullname || teacher.id}" )
		meta( property="og:image" content="http://mathlab.kz#{profileInfo.photo_url}" )
		meta( property="og:description" content="#{profileInfo.about}" )

		title= (teacher.fullname + ' - ' + teacher.subject + ' ' + '| MathLab.kz')

		// Bootstrap Core CSS
		link( href="/css/bootstrap.css" rel="stylesheet" )

		//Custom CSS	
		link( rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" )
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" )
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" )
		link( rel="stylesheet" href="/css/font-awesome.min.css" )
		link( href="/css/animate.css" rel="stylesheet" )
		link( href="/css/default.css" rel="stylesheet" )
		link( href="/css/lightbox.css" rel="stylesheet" )

		// METRICS
		include ../common/metrics

		//Scripts
		script( src="/js/jquery.min.js" )

		<!--[if IE]>
		link( rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" )
		script( type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js" )
		<![endif]-->
	body( class="landing teacher" )

		// NAVBAR
		include ./includes/navbar

		// CONTENT
		div( class="container main-content" )
			ol( class="breadcrumb" )
				li
					a( href="/" ) Главная
				li( class="active" )= teacher.fullname
			div( class="row offset-top-20" )
				div( class="col-md-4" )
					div( class="base")
						div( class="text-center" )
							if (profileInfo.photo_url)
								img( src="#{profileInfo.photo_url}" class="img-circle img-150 inline-block" alt="#{teacher.full_name}" title="Учитель физики" )
							else
								img( src="/images/empty-teacher-img.svg" class="img-circle img-150 inline-block")
							h1= teacher.fullname
							h6= teacher.subject
						hr
						div( class="text-left" )
							if (profileInfo.visible && profileInfo.geoposition)
								div( class="sm-info-block" )
									h4 Город:
									h5= profileInfo.geoposition
							if (profileInfo.visible && profileInfo.school)
								div( class="sm-info-block" )
									h4 Учебное заведение:
									h5= profileInfo.school
						button( class="btn btn-success btn-block" data-toggle="modal" data-target="#callbackModal") Хочу к этому преподавателю!

					div( class="base" )
						h3 Расскажите о преподавателе в соц.сетях!
							div( id="share" class="offset-top-10")

					//div( class="base" )
						//h3 Преподаватель в новостях
						//div( class="another-news-block" )
							//h4
							//p 
							//a( href="/news/" ) Читать далее 
								//i( aria-hidden="true" class="fa fa-angle-right" )


				div( class="col-md-8" )
					if (profileInfo.visible && profileInfo.bio)
						div( class="lg-info-block" )
							h2 Биография
							p= profileInfo.bio
					if (profileInfo.visible && profileInfo.about)
						div( class="lg-info-block" )
							h2 О себе
							p= profileInfo.about
					if (profileInfo.visible && profileInfo.certificates.length > 0)
						div( class="lg-info-block" )
							h2 Достижения
							div( class="sertificates owl-carousel owl-theme" id="sertificates")
								for certificate in profileInfo.certificates
									a( href="#{certificate.url}" data-lightbox="roadtrip" )
										div( class="sertificate text-center" )
											div( class="image" style="background-image: url('#{certificate.url}')")
											div( class="info")
												h5= certificate.title
					if (!profileInfo.visible)
						div( class="moderation text-center" )
							img( src="/images/moderation-icon.svg" width="56")
							h2 Страница находится на модерации
							p Скоро здесь появится актуальная информация о преподавателе ✨

					//div( class="lg-info-block" )
						//h2 Отзывы
						//div( class="comments owl-carousel owl-theme" id="comments")
							//div( class="landing-comment" )
								//div( class="landing-comment-body media" )
									//div( class="media-left")
										//img( src="/images/comment-img-3.png" class="img-circle img-thumbnail img-70" alt="Отзыв" title="Отзыв" )
									//div( class="media-body" )
										//h4 
										//h6 
								//blockquote
									//p #[i  ]
		
		// FOOTER
		include ./includes/footer-main

		div( id="callbackModal" class="modal fade" role="dialog" )
			div( class="modal-dialog")
				div( class="modal-content" )
					div( class="modal-header" )
						button( type="button" class="close" data-dismiss="modal") &times;
						h4( class="modal-title" ) Обратный звонок
					div( class="modal-body" )
						form( data-toggle="validator" role="form" onSubmit="return false;")
							div( class="form-group" )
								label( for="name" ) Как Вас зовут?
								input( type="text" class="form-control" id="name" name="name" required )
								div( class="help-block with-errors" )
							div( class="form-group" )
								label( for="tel" ) Ваш телефон:
								input( type="tel" class="form-control bfh-phone" id="tel" data-format="+7 (ddd) ddd-dd-dd" required )
								div( class="help-block with-errors" )
							div( class="form-group" )
								button( button type="submit" class="btn btn-primary btn-block btn-md" onClick="sendCallbackBid(this, '#{teacher.fullname}')" ) Отправить
						hr
						p Оставьте заявку на обратный звонок и наш менеджер перезвонит Вам в ближайшее время.

					div( class="modal-footer" ) 
						button( type="button" class="btn btn-default" data-dismiss="modal" ) Закрыть

		script( src="/js/bootstrap.min.js" defer )
		script( src="/js/lightbox.js" defer)
		script( src="/js/landing.js" defer )
		script( src="/js/formhelpers.min.js" defer)
		script( src="/js/validator.js" defer)
		script( type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
		script( type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js" )
		link( type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" )
		link( type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" )
		script.
			$("#share").jsSocials({
				showCount: true,
				showLabel: true,
				shares: ["facebook", "twitter", "whatsapp", "telegram"]
			});

			$('#sertificates').owlCarousel({
				loop: false,
				margin: 20,
				nav: false,
				dots: true,
					responsive:{
						0:{
							items: 1
						},
						600:{
							items: 2
						},
						1200:{
							items: 3
						}
				}
			});

			$('#comments').owlCarousel({
				loop: false,
				margin: 10,
				nav: false,
				dots: true,
				items: 1
			})

		span( itemprop="address" style="display: none;" ) Казахстан, Алматы
